* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

.outside-tr {
    position: sticky;
    left: 0;
    top: 0;
}

.first-clmn {
    position: sticky;
    left: 0;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

th, td {
  background-color: #96D4D4;
  width: 330px;
  padding: 5px;
}

td {
    text-align: center;
    color: rgb(102, 101, 104);
    font-weight: 600;
}