* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

table {
  margin: 0 auto;
}

th, td {
  width: 330px;
  padding: 5px;
}

th {
  background-color: rgb(15, 104, 131);
  color: white;
}

td {
    text-align: center;
    color: rgb(102, 101, 104);
    font-weight: 600;
    background-color: #96D4D4;
    border-radius: 5px;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.outside-tr {
    position: sticky;
    left: 0;
    top: 0;
}

.first-clmn {
    position: sticky;
    left: 0;
}

.loader {
  text-align: center;
  margin: 20px 0;
}

.mark-price {
  color: rgb(90, 63, 3);
}